<table class="table table-striped">
  <thead>
    <tr>
      <th>Name <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Year <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Grapes <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Country <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
      <th>Region <button class="btn btn-link"><span class="fa fa-sort"></span></button> </th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
